* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
h1 {
    color: #e4e4e4;
    font-size: 5rem;
    margin-bottom: .5em;
}

.parent {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    background-color: #c0c2c2;
}

.child {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-color: #535fcf;
    height: 100px;
}
